{% extends "base.html" %}{% load static %}

{% block title %}Play{% endblock %}
{% block content %}

<form action={% url 'play' level id %} method="POST"> {% csrf_token %} {{ themeForm.as_p }} <input type="submit" value="Get Theme" class="btn btn-secondary"> </form>

<canvas id="myCanvas" width="500" height="500" image="{{ background }}"></canvas>

<div id="lifeContainer">
   <img id="life1" src="{% static 'game_assets/Heart.png' %}" width="50" height="50">
   <img id="life2" src="{% static 'game_assets/Heart.png' %}" width="50" height="50">
   <img id="life3" src="{% static 'game_assets/Heart.png' %}" width="50" height="50">
   <img id="life4" src="{% static 'game_assets/Heart.png' %}" width="50" height="50">
   <img id="life5" src="{% static 'game_assets/Heart.png' %}" width="50" height="50">
   <img id="life6" src="{% static 'game_assets/Heart.png' %}" width="50" height="50">
</div>

<div id="timer" class="timer"> </div>

<head>

 

    <style>
        .timer {
            position: absolute;
            font-size: 2vw;
        }

      table {

        position: absolute;

        top: 50%;

        right: 700px;

        transform: translate(0, -50%);

        border: 2px solid black;

      }

      td, th {

        border: 1px solid black;

      }

    </style>

</head>

<body>

<table>

    <tr bgcolor="grey" align="center">

        <th width="100">Name</th>

        <th width="100">Highscores</th>

    </tr>

    <tr bgcolor="lightgrey" align="center">

        <td width="100">Peter</td>

        <td width="100">5:16</td>

    </tr>

    <tr bgcolor="lightgrey" align="center">

      <td width="100">Patrick</td>

      <td width="100">4:01</td>

    </tr>

    <tr bgcolor="lightgrey" align="center">

      <td width="100">Ryan</td>

      <td width="100">3:54</td>

      <tr bgcolor="lightgrey" align="center">

        <td width="100">Nick</td>

        <td width="100">3:43</td>

    </tr>

  </tr>

</table>


</body>

<div class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Your Highscore</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="{% url 'receiveScore' %}" method="POST">
                {% csrf_token %}
                <div id="score"></div>
                <div id="levelId"></div>
                <input type="submit" name="action" value="Submit High Score" data-value="submit" class="btn btn-outline-success"></input>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts %} 
                    <script src="{% static 'game_logic/timer.js' %}"></script>
                    <script src="{% static 'game_logic/player.js' %}"></script>
                    <script src="{% static 'game_logic/enemy.js' %}"></script> 
                    <script src="{% static 'game_logic/boss.js' %}"></script>
                    <script src="{% static 'game_logic/followingEnemy.js' %}"></script>
                    <script src="{% static 'game_logic/foxy.js' %}"></script>
                    <script src="{% static 'game_logic/hearts.js' %}"></script>
                    <script src="{% static 'game_logic/collision.js' %}"></script>
                    <script src="{% static 'game_logic/gameplayLoop.js' %}"></script>
{% endblock %}